<!DOCTYPE html>
<html>
    <head>
        <title>
            Weather App
        </title>
    </head>

    <body>

        {{>header}}

    </body>

    <script src="../../../public/js/app.js"></script>





</html>